
    *{
        margin:0;
        padding:0;
        transition: .5s ease-out;
    }


/* Table designs */
/* fix table height and heading in case of row overflow */
    table {
        border-collapse: collapse;
        border: 1px solid black;
        height: 10px !important; 
        overflow: scroll;

    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    th, td {
        padding: 5px;
        /* border: 1px solid black; */
        text-align: left;
    }
    tr{
        border: 1px solid black;
    }
    tr:hover {
        background-color: #cecece;
    }
/* table design over */

/* Left bar style begins*/
    h2{
        font-size: 22px;
    }   

    .left_cont{
        position: relative;
        float:left;
        width:20%;
        height:100vh;
        /* background-color: rgb(0, 208, 156); */
        background-color: rgb(255, 255, 255);
    }
    .left_cont .content{
        position: relative;
        width: auto;
        height: auto;
    }
    /* ul li{
        list-style: none;
    } */
    .left_cont ul{
        width:90%;
        margin-top: 20%;
        margin-left: 10%;
    }
    .left_cont ul li{
        /* list-style-type: none; */
        padding: .5em 1em;
        font-size: 21px;
        padding-left: 10%;
        position: relative;
        display: flex;    
        border-radius: 10px;

        /* font-weight: 25px; */
        /* font-size: 2em; */
    }
    .left_cont ul li:hover{
        /* background-color: rgb(7, 179, 136); */
        background-color: rgb(189, 189, 189);
    }

    .right_cont{
        width:80%;
        height:100vh;
        float:left;
        background-color:  white;
    }

    #logo{
        border-radius: 50%;
        width: 60px;
        margin-left: 100px ;
        margin-top: 50px;
        height: 60px;
        /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3); */
    }
    .smallicon{
        width: 22px;
        height: 22px;
        margin-right: 15px;
    }
    .right_cont .content{
        float: left;
        position: relative;
        width:100%;
        height:74%;
        background-color: white;
    }

    .content .div{
        position: relative;
        float: left;
        width:44%;
        height:120px;
        background-color:  rgb(232, 232, 232);
        margin-top:35px;
        margin-left: 35px;
        border-radius: 20px;
    }    

    .right_cont .right_content{
        position: relative;
        float:left;
        width:34%;
        height: 75%;
        background-color: white;
    }
    .right_content .div{
        position: relative;
        float: left;
        width:90%;
        height:120px;
        background-color:  rgb(232, 232, 232);
        /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3); */
        margin-top:35px;
        margin-left: 15px;
        border-radius: 20px;

    }
    .div{
        transition-duration: .2s;
        border: 1px solid block;
        text-align: center;
        align-items: center;
        justify-content: center;
        display:flex;
    }
    div.div:hover{
        box-shadow:  5px 5px 5px 5px rgba(100, 100, 100, 0.5);
    }
    /* table{
        border:1;
    } */


/* left bar style ends */

/* STYLE ONLY FOR TOPBAR */

.nav{
    position: relative;
    top:0px;
    background-color: white;
    width: 100%;
    /* height:25% ; */
    height:24.8%;
}
.nav h1{
    font-family:hel;
    float:left;
    margin-top:40px;
    margin-left: 30px;
    font-size: 60px;
    color: rgb(30, 8, 70);
}
.nav h2{
    font-family:hel;
    float:left;
    margin-top:110px;
    margin-left: 250px;
    font-size: 23px;
    color: rgb(30, 8, 70);
}
.logo{
    position: relative;
    /* background-color:red; */
    height: 100%;
    width:30%;
    float:right;
} 

.usericon{
    float:right;
    /* position: fixed; */
    margin-top:50px;
    margin-right:50px;
    width:50px;
    height:50px;
    border-radius: 50%;
    transition: 0.10s ease-out;
}
.usericon:hover{
    transform: scale(1.2);
}
.carticon{
    float:left;
    margin-left:100px;
    margin-top:60px;
	position:relative;
	cursor:pointer;    
    width:40px;
    height:40px;
    border:0;
    transition: 0.10s ease-out;
}
.carticon:hover{
    transform: scale(1.2);
}
/* display name logo h3*/
.logo h3{
    /* background-color:blue; */
    float:right;
    font-size: 20px;
    /* top:1%; */
    margin-top:120px;
    margin-right: -15%;
}

/* notification styles begin*/
.bellticon{
    /* float:left;
    margin-left:50px; */
    width:40px;
    height:40px;
}
button#notification-icon:hover{
    transform: scale(1.2);
}
button#notification-icon {
	background: transparent;
	border: 0;
    margin-left:100px;
    height: 60px;
    width:60px;
    margin-top:45px;
	position:relative;
	cursor:pointer;
    transition: 0.10s ease-out;

}
a{
    text-decoration: none;
    color: inherit;
}
#notification-count{
    text-align: center;
	position: absolute;
    height: 15px;
    width:15px;
    /* padding: 1px; */
	font-size: 0.9em;	
	color: #ffffff;
    background-color: red;
    border-radius: 50px;
	font-weight:bold;
}
#notification-latest {
	color: white;
	position: absolute;
	right: 50px;
	background: #3964dd;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.20);		
	max-width: 250px;
	text-align: left;
}
.notification-item {
	padding:10px;
	border-bottom: #3ae2cb 1px solid;
	cursor:pointer;
}
.notification-subject {		
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notification-comment {		
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style:italic;
}
/* TOPBAR STYLE ENDS */
