
/* LOG IN PAGE STYLE BEGINS */
/* LOG IN PAGE STYLE BEGINS */


.full{
	position: relative;
	margin-left: 10%;
	}
	.l2{
		float: left;
		margin:80px 50px 0 0;
		width:40%;
		min-width: 350px;
		height:420px;
		border-radius: 10px;
		border: #b5a8ff 1px solid;
		/* background-color: teal; */
		}
		.l2:hover {
			border: rgb(0, 138, 103) 1px solid;
		}
		.full h1{
			font-size: 25px;
			padding-top: 10%;
			}
		form{
			margin: 0 10%;
			position: relative;
			width:80%;
			}
			::placeholder{
				color:rgb(70, 70, 70);	
				font-size: 17px;
				background-color: white;
			}
			.box{
				height:30px;
				padding-top: 20px;
			}
			input {
				height:30px;
				padding-top:5px;
				margin: 3% 5%;
				font-size: 17px;
				display: inline-block;
				border:none;
				border-bottom :1px solid #4e67f1 ;
				width:90%;
				background-color:rgba(0,0,0,0);
				color:rgb(0, 0, 0);
			}
			input:focus{
				outline: none;
			}
			input[type=submit]{
				background-color: rgb(206, 205, 255);
				color: rgb(22, 0, 219);
				padding: 5px 30px;
				height: 50px;
				/* width: wrap; */
				border: none;
				border-radius: 20px;
				margin-top: 40px ;
				cursor: pointer;
				float: left;
			}
			input[type=submit]:hover {
				background-color: #414285;
				color: white;
				}
			.l2 a{
				margin-top: 30px;
				float: right;
				margin-right:6%;
				font-size: 16px;
				color: rgb(2, 2, 199);
			}
			a:hover {
				font-weight: 10px;
				color: rgb(14, 0, 136);
				}
	.r2{
		float: left;		
		margin:80px 50px 0 0;
		width:40%;
		min-width: 350px;
		height: 420px;
		border-radius: 10px;
		border: #b5a8ff 1px solid;
		}
		.r2:hover {
			border: rgb(0, 138, 103) 1px solid;
		}
		.r2 h1{
			padding-top:20%;
		}
		.r2 h5{
			margin-bottom:30px;
		}
		input[type=button]{
			color: white;
			padding: 12px 40px;
			height: 50px;
			width: 70%;
			/* border: none; */
			border-radius: 20px;
			margin: 30px 2px 0px;
			cursor: pointer;
			background-color: rgb(0, 170, 128);
		}
		input[type=button]:hover {
			background-color: rgb(0, 138, 103);
		}


/* LOG IN PAGE STYLE ENDS */
/* LOG IN PAGE STYLE ENDS */


/* FORGOT PASSWORD STYLE BEGINS */
/* Forgot password STYLE BEGINS */


.homepage #email, #otp, #p1{
	margin-top: 50px;
}