body{ 
	margin:0px;
	padding:0px;
	/* background-image: linear-gradient(rgb(55, 59, 64),rgb(194, 194, 194)); */
	background-color:whitesmoke;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
.full{
	position: relative;
	margin-top: 5%;
	margin-left: 20%;
	width:60%;
	height:80vh;
	background-color: white;

}
.full .l2{
	position: relative;
	float: left;
	/* margin-top: 5%; */
	width:40%;
	height:80vh;
	background-color: rgb(0, 208, 156);

}
.full .r2{
	position: relative;
	float: left;
	/* margin-top: 5%; */
	right: 0px;
	width:60%;
	height:80vh;
	background-color: white;

}
.r2 h1{
	padding-top:20%;
}
.l2 h1{
	padding-top:40%;
}
form{
	/* display: block; */
	margin:auto;
	position: relative;
	width:300px;
	height:400px;
	/* background-image: linear-gradient(rgb(255, 255, 255),rgb(194, 194, 194)); */
	/* box-shadow: 7px 7px 17px rgb(20, 20, 20); */
	font-family:Segoe UI Light;
	text-align:center;
}
::placeholder{
	padding: 10px;
    color:rgba(51, 51, 59);	
    font-size: 17px;
}
.box{
	padding-top:10%;
}
input{
	height:30px;
	padding-top:5%;
	margin: 8px 0;
	font-size: 17px;
	display: inline-block;
	border-radius: 6px;

	border:none;
	border-bottom :2px solid rgba(0,0,0,.20) ;
	width:90%;
	background-color:rgba(0,0,0,0);
	color:rgb(0, 0, 0);

}
input:focus{
	outline: none;
}
input[type=submit]{
	background-color: rgb(30, 179, 35);
	color: white;
	padding: 12px 40px;
	height: 50px;

	border: none;
	border-radius: 6px;
	margin: 30px 2px;
	  cursor: pointer;
	
}
input[type=button]{
	color: white;
	padding: 12px 40px;
	height: 50px;
	width: 70%;
	/* border: none; */
	border-radius: 20px;
	margin: 30px 2px 0px;
	  cursor: pointer;
	  background-color: rgb(0, 170, 128);

	
}
input[type=submit]:hover {
  background-color: #1d9223;
}
input[type=button]:hover {
	background-color: rgb(0, 138, 103);
  }