
/* common style excepts the margin and width */
/* common style excepts the margin and width */


	button, input[type=button],[type=submit],[type=checkbox]{
		border-radius: 10px;
		background-color: rgb(255, 255, 255);
		color: rgb(22, 0, 219);
		padding: 5px;
		margin: 5px;
		height: 40px;
		min-width: 215px;
		cursor: pointer;
		border :2px solid #4e67f1 ;
		outline:none;
	}
	input[type=password],[type=text],[type=number],[type=file]{
		border-radius: 10px;
		background-color: rgb(255, 255, 255);
		color: rgb(22, 0, 219);
		padding: 5px;
		margin: 5px;
		min-width: 200px;
		height: 25px;
		cursor: pointer;
		border :2px solid #4e67f1 ;
		outline:none;
	}
	input[type=button]:hover {
		background-color: rgb(22, 0, 219);
		color: white;
		}
	input[type=submit]:hover {
		background-color: rgb(22, 0, 219);
		color: white;
		}
	select{
		border :1px solid #4e67f1 ;
		height: 35px;
		font-size: 18px;
	}
	form{
		top: 0px;
		width: 70%;
		margin-left: 50px;
		}
	.hed{
		width: 70%;
		margin: 50px 0 20px 50px;
		font-size: 22px;
		height: 30px;
	}

/* profile PAGE STYLE BEGINS */
/* profile PAGE STYLE BEGINS */


	.prof{
		width:150px;
		height: 150px;
		margin-top: 50px;
		}
	.type{
		margin:20px 0 20px 0;
		width: 200px;
		text-decoration: underline ;
		font-size: 18px;
		}
	.cont{
		margin-bottom: 20px;
		width: 100%;
		min-width: 320px;
		float: left;
		}
		.title{
			float: left;
			width: 70px;
			}
		.ans{
			float: left;
			width: 240px;
			}

/* profile PAGE STYLE ENDS */
/* profile PAGE STYLE ENDS */


/* change dp STYLE BEGINS */
/* change dp STYLE BEGINS */

	.filey{
		width: 200px;
		margin: 20px 0 20px 5px;
	}
	h3{
		margin: 10px 50px;
		font-size: 16px;
	}



/* medical request STYLE BEGINS */
/* medical request STYLE BEGINS */

.lst, .snd{
	width: 300px;
	margin: 20px;
}
.top{
	margin: 20px;
}
.categ{
	width: 80%;
}
.mrh{
	font-size: 19px;
}
.categ{
	float: left;
	margin:20px 50px 20px 30px;
	width: 200px;
}

.sub{
	width: 250px;
}

/* medical request STYLE ends */
/* medical request STYLE ends */