/* .homepage and #head style is on the toplaftbar.css  */

    form{
        position: relative;
        padding: 0px 20px 20px 20px;
        margin: 20px 40px;
        width: 100%;
        height: fit-content;
        /* background-color: whitesmoke; */
        /* border: 1px solid rgb(129, 129, 129); */

        }
        form #head{
            text-decoration: underline 
        }
        form p{
            font-family:opensansregular ;
            font-size: 15px;
            padding-top: 3px;
        }  
        .formrow{
            position:relative;
            width: 100%;
            height: fit-content;
            display: flex;
            flex-wrap: wrap;
            }
        @media screen and (max-width: 400px) {
            .formrow {
                flex-direction: column;
                }
            }
            .formcol1{
                float: left;
                padding:1px 3%;
                width: 94%;
                }
            .formcol{
                float: left;
                padding:0 3%;
                width: 27.3%;
                min-width: 20%;
                flex: 200px;
                min-width: 200px;
                }

                input[type=text],[type=date],[type=password],[type="submit"],
                        [type=button],[type=time],[type=number],[type=file],select {
                    width: 100%;
                    padding: 8px 20px;
                    font-size: 17px;
                    margin: 3px 0;
                    display: inline-block;
                    border: 1px solid rgb(129, 129, 129);
                    border-radius: 4px;
                    box-sizing: border-box;
                }
                input[type="submit"],[type=button]{
                    background-color: rgb(0, 138, 103);
                    color: rgb(255, 255, 255);
                    margin-top: 25px;
                    font-size: 18px;
                    border-radius: 8px;
                }
                input[type=submit]:hover {
                    background-color: rgb(0, 30, 201);
                    color: white;
                    }
                .formrow a{
                    font-family:opensanssemibold;
                    font-size: 18px;
                    color: rgb(91, 2, 255);
                }
                label{
                    color: darkblue;
                }
                /* input:focus, textarea:focus, select:focus{
                    outline: none;
                } */



/* add product style begins */
/* add product style begins */
         
    .addpdt{
        max-width: 300px;
        margin: 30px;

    }