body{ 
    /* background-image: linear-gradient(rgb(245, 245, 245),rgb(238, 238, 238)); */
    background-color:whitesmoke;
    background-attachment:fixed;
    margin: 0px;

}
.maindiv{
    position: fixed;
    margin-top:0%;
    /* width: 60%; */
    /* margin-left: 10%; */
    background-color:white;
}
h1{
margin-top: 2%;
}
.division1{
    float:left;
    margin-top:2%;
    margin-left:17%;
    position: relative;
    width:30%;
    height:60%;
    /* background-color: brown; */
}
.division2{
    float:left;
    margin-top:2%;
    margin-left:5%;
    position: relative;
    width:30%;
    height:60%;
    /* background-color: brown; */
}
input[type="submit"],[type=button]{
    background-color: rgb(12, 146, 0);
    color: #fff;
    width: 40%;
    margin: 8px 0;
    border-radius: 10px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}

input[type=text],[type=date],[type=password],[type="submit"],
        [type=button],[type=time],[type=number],[type=file],select {
    width: 100%;
    padding: 10px 20px;
    font-size: 17px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type="submit"],[type=button]{
    background-color: rgb(12, 146, 0);
    color: #fff;
    border-radius: 10px;
}

