
/* fix table height and heading in case of row overflow */
table {
	border-collapse: collapse;
	border: 1px solid black;
	height: 10px !important; 
	overflow: scroll;

}
th {
	background-color: #4CAF50;
	color: white;
}
th, td {
	padding: 5px;
	/* border: 1px solid black; */
	text-align: left;
}
tr{
	border: 1px solid black;
}
tr:hover {
	background-color: #cecece;
}

/* table{
	border:1;
} */